.add-grade {
    margin: auto;
}
.add-grade label {
    color: #747474;
    font-size: 17px;
    font-family: serif;
}
.add-grade button.minus {
    height: 35px;
    width: 35px;
    margin-bottom: 25px;
    line-height: 11px;
}

.add-grade button.minus i {
    font-size: 11px;
}
.add-grade .add-books .error {
    margin-bottom: 11px;
    display: block;
}